[features]
seeds = false
skip-lint = false

[programs.localnet]
blockscore = "976oFeJkbiqY6r7V24TvkFwfdcy2mJyJLK9ueVfaQRUe"

[programs.devnet]
blockscore = "976oFeJkbiqY6r7V24TvkFwfdcy2mJyJLK9ueVfaQRUe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://api.devnet.solana.com"
